@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}

.Archive_Div {
  display: flex;
  flex-direction: row;
}

.Left_Div {
  width: 18%;
  height: 100vh;
}

.Right_Div {
  width: 82%;
  height: 100vh;
  background-color: #e7eaeb;
  display: flex;
  flex-direction: column;
}

.Header_Div {
  width: 100%;
  height: auto;
}

.Archive_Elements {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Search_Div {
  width: 95%;
  height: 11%;
  margin-top: 3%;
  display: flex;
  justify-content: flex-end;
}

.Search_Bar {
  background-color: white;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #493d55;
}

.Search_Bar_Button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #493d55;
  width: 12%;
  height: 100%;
  font-family: Gilroy;
  font-size: 22px;
}

.All,
.Daily,
.Weekly,
.Monthly {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
}

.activee,
.All:hover,
.Daily:hover,
.Weekly:hover,
.Monthly:hover {
  color: white;
  background-color: #493d55;
}

.Archive_Table {
  margin-top: 1%;
  width: 95%;
  height: 75%;
  background-color: white;
  overflow-y: auto;
}

.Deny_Button {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.Deny_Button_Line {
  width: 20px;
  height: 5px;
  background-color: white;
}

.Confirm_Button {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.Confirm_Button_Line {
  color: white;
  height: 1.5em;
  width: 1.5em;
}